{% extends 'microblog/header.html' %}
{% block body %}
{{block.super}}

<form enctype="multipart/form-data"  method="post">
  {% csrf_token %}
  <div class="fieldWrapper">
    <div class="form-group form-inline">
      <div class="col-sm-2" >
        <label for="{{ form.profile_name.id_for_label }}"> Profile Name:</label>
       </div>
        {{ form.profile_name }}
        <br><br>
    </div>
    <div class= "form-group form-inline">
      <div class="col-sm-2" >
        <label for="{{form.bio.id_for_label}}">Bio:</label>
      </div>
      {{ form.bio }}
    </div>

    <div class = "form-group form-inline">
      <div class="col-sm-2">
        <label for="{{form.profile_pic.id_for_label}}">Profile Pic:</label>
      </div>
      {{ form.profile_pic }}
    </div>
  </div>
  <div class="form-group col-sm-offset-1">
    <input type="submit" class="btn" value="Submit" />
  </div>
</form>

{%endblock%}
