{% extends 'microblog/postlist.html' %}
{% load staticfiles %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'microblog/profile.css'%}">
{% endblock %}

{% block body %}
{{block.super}}

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      {%if user_details %}
        {% for user in user_details %}
          <img src="{{ MEDIA_URL}}"></img>
          <h4>{{user.profile_name}}</h4>
          <h5>({{user.user_name}})</h5>
          <br>
          <h5>About Me:</h5>
          <p>{{user.bio}}</p>
          <hr>
        {% endfor%}
      {%else%}
        <p> no username given</p>
      {%endif%}
      <p>
        {%if myprofile %}
        <p>Posts:</p>
        <ul class="nav nav-pills nav-stacked">
          <li class="{%ifequal profiletab 'all'%}active{% endifequal %}"><a href="microblog/profile">All</a></li>
          <li class="{%ifequal profiletab 'shared'%}active{% endifequal %}"><a href="microblog/profile/shared">Shared</a></li>
          <li class="{%ifequal profiletab 'saved'%}active{% endifequal %}"><a href="microblog/profile/saved">Saved</a></li>
        </ul>
        <a href="/microblog/editprofile/" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-edit"></span> Edit
        </a>
        {%else%}
          {%if isfollowing%}
            {% for user in user_details %}
            <a href="/microblog/unfollow/?follower={{request.user.username}}&following={{user.user_name}}" class="btn btn-info btn-lg">
            {%endfor%}
              <span class="glyphicon glyphicon-ok"></span> Following
            </a>
          {%else%}
          {% for user in user_details %}
            <a href="/microblog/follow/?follower={{request.user.username}}&following={{user.user_name}}" class="btn btn-info btn-lg">
          {%endfor%}
            <span class="glyphicon glyphicon-bookmark"></span> Follow
          </a>
        {%endif%}
        {%endif%}

      </p>
    </div>

    <div class="col-sm-9">
      <h4><small>RECENT POSTS</small></h4>
      <hr>
      {% block postlist %}
        {{ block.super }}
      {% endblock %}
      <hr>
    </div>
  </div>
</div>
{%endblock%}
