/*html {
  background: url("http://www.planwallpaper.com/static/images/wallpapers-hd-8000-8331-hd-wallpapers.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
