/*.containerhome {
  margin: auto;
  width: 50px;
  opacity: 90%;
  background-color: #000000;
  padding: 10px;
}

#outer{
  position: relative;
}

.inner {
  width:100%;
  margin: auto;
  left: 0;
  right: 0;
  top:0;
  bottom:0;
}*/

 /*body, .container-table {
    height: 100%;
}
html {
  background: url(http://www.planwallpaper.com/static/images/wallpapers-hd-8000-8331-hd-wallpapers.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.contain-list {
  border-radius: 10px;
  overflow-y: auto;
   height:500px;
  background-blend-mode: soft-light;
  padding: 10px;
  background-color: #dbe6f0;
  opacity: 0.87;
}
